@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

.header {
  align-items: center;
  background-color: var(--color-2);
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  height: 8rem;
  justify-content: space-between;
  padding: 0 4rem;
}

.header h1 {
  font-family: "Quattrocento Sans", sans-serif;
}

.link {
  color: var(--color-4);
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.toggle {
  flex-shrink: 0;
  scale: 4;
}

.toggle__light {
  color: var(--color-4)
}

.toggle__dark {
  color: yellow;
}
