.header {
  align-items: center;
  background-color: var(--color-1);
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  height: 8rem;
  justify-content: center;
}

.link {
  color: var(--color-4);
  text-decoration: none;
}
