.container {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.selected {
  border: 2px solid rgb(0, 128, 0)
}

.container img {
  width: 30%;
}

.container p {
  font-size: 1.5rem;
  
}